In [2]:
import pandas as pd

In [4]:
movies = pd.read_csv('movies.csv', index_col='Title')

In [5]:
movies

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

In [8]:
movies.shape

(782, 4)

In [9]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

In [12]:
movies.loc['Incredibles 2']

Rank               16
Studio    Buena Vista
Gross      $1,242.80
Year             2018
Name: Incredibles 2, dtype: object

In [20]:
movies['Gross'] = (
    movies['Gross']
    .str.replace('$', '', regex=False)
    .str.replace(',', '', regex=False)
    .astype(float)
)

In [22]:
studios = movies.groupby('Studio')

In [25]:
studios['Gross'].sum().sort_values(ascending=False).head()

Studio
Buena Vista        73585.0
Warner Brothers    58643.8
Fox                50420.8
Universal          44302.3
Sony               32822.5
Name: Gross, dtype: float64